.popular_list {
    text-align: center;
    padding: 48px 20px;
    background-color: #222222;

    @media only screen and (min-width: 1000px) {
        padding: 68px 0 120px 0;
    }


    &__wrapper {
        @media only screen and (min-width: 1000px) {
            margin: 0px auto;
            width: calc(80% - 10px);
            max-width: 1170px;
        }

        h5 {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 2.8px;
            color: #BDAC8D;
        }

        h1 {
            font-size: 40px;
            font-weight: 400;
            font-family: Old Standard TT, sans-serif;
            margin: 25px 0 48px 0;
            color: #FFFFFF;

            @media only screen and (min-width: 1000px) {}
        }

        &__container {
            display: flex;
            overflow: hidden;


            @media only screen and (min-width: 1000px) {
                justify-content: center;
                gap: 30px;
                flex-wrap: wrap;
            }

            &__item {
                min-width: 100%;

                @media only screen and (min-width: 1000px) {
                    min-width: unset;
                    width: 370px;
                }


                &__slider {
                    position: relative;
                    height: 230px;
                    width: 100%;
                    background-color: #E5E5E5;
                    background-size: cover;

                    &.offer {
                        img {
                            width: 100%;
                        }
                        object-fit: contain;
                    }

                    .image--left,
                    .image--right {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        z-index: 1000;
                        width: 32px;
                        height: 32px;

                        @media only screen and (min-width: 1000px) {
                            display: none;
                        }
                    }

                    .image--left {
                        left: 0;
                    }

                    .image--right {
                        right: 0;
                    }

                    @media only screen and (min-width: 1000px) {}
                }

                &__description {

                    position: relative;
                    background-color: #FFFFFF;
                    padding-bottom: 30px;

                    @media only screen and (min-width: 1000px) {

                        h3 {
                            font-size: 40px;
                            font-weight: 700;
                            margin-right: 15px;

                            span {
                                font-size: 16px;
                            }
                        }
                    }

                    &__icons {
                        background-color: white;
                        display: flex;
                        justify-content: space-evenly;
                        position: relative;
                        top: -20px;
                        margin: 0 40px;
                        padding: 12px 0;


                        @media only screen and (min-width: 1000px) {
                            // max-width: 310px;
                        }

                        img {
                            vertical-align: middle;

                            &:not(:nth-last-of-type(7)) {
                                // margin-left: 13px;
                            }
                        }
                    }

                    &__text {
                        margin: 0 20px;

                    }

                    h4 {
                        font-family: Old Standard TT, sans-serif;
                        font-size: 24px;
                        font-weight: 400;
                        letter-spacing: -0.7px;
                        margin-bottom: 16px;
                    }

                    p {
                        font-family: Roboto, sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        color: #777777;
                        margin-bottom: 12px;
                    }

                    h3 {
                        font-family: Archivo, sans-serif;
                        font-size: 16px;
                        font-weight: 700;
                        color: #BEAD8E;
                        display: inline;

                        span {
                            font-size: 16px;
                        }
                    }

                    h6 {
                        font-family: Archivo, sans-serif;
                        font-size: 16px;
                        font-weight: 700;
                        color: #BDBDBD;
                        display: inline;
                        margin-left: 15px;
                    }
                }
            }
        }

    }

}