  ul {
      list-style-type: none;
      list-style-position: inside;
      column-count: 2;
      column-gap: 10px;

      :nth-child(5),
      :nth-child(10) {
          margin-bottom: 25px;
      }

      li {
          font-family: Roboto, sans-serif;
          font-weight: 500;
          font-family: 15px;
          line-height: 17px;
          color: #777777;
          white-space: nowrap;
          margin-bottom: 17px;

      }

      img {
          vertical-align: middle;
          width: 16px;
          height: 16px;
          margin-right: 8px;
      }
  }