.room_detail {
    @media only screen and (min-width: 1000px) {
        margin: 120px auto;
        width: calc(80% - 10px);
        max-width: 1170px;
        flex-direction: row;
    }
    flex-direction: column;
    display: flex;
    &__left{
        width: 70%;
        &__photobox {
            position: relative;
            margin-bottom: 50px;
            .description {
                padding: 25px 40px;
                background-color: white;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                left: 20px;
                top: -60px;
                &__title {
                    h3 {
                        color: #777777;
                        font-family: Archivo;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 15.23px;
                        letter-spacing: 2.8px;
                        text-align: left;
                        margin-bottom: 15px;
                    }
                    h2 {
                        font-family: Old Standard TT;
                        font-size: 48px;
                        font-weight: 400;
                        line-height: 48px;
                        letter-spacing: -1.440000057220459px;
                        text-align: left;
                    }
                }
                h5{
                    font-family: Archivo;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 43.52px;
                    text-align: right;
                    color: #BEAD8E;
                    span {
                        font-family: Archivo;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 17.41px;
                        text-align: right;
                    }
                }
            }
            img {
                width: 100%;
            }
        }

        h4{
            font-family: Old Standard TT;
            font-size: 30px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }

        p {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: #777777;
            margin-bottom: 90px;
        }

        ul {
            list-style-type: none;
            list-style-position: inside;
            column-count: 2;
            column-gap: 10px;
            margin-bottom: 90px;

            :nth-child(5),
            :nth-child(10) {
                margin-bottom: 25px;
            }

            li {
                font-family: Roboto, sans-serif;
                font-weight: 500;
                font-family: 15px;
                line-height: 17px;
                color: #777777;
                white-space: nowrap;
                margin-bottom: 17px;

            }

            img {
                vertical-align: middle;
                width: 16px;
                height: 16px;
                margin-right: 8px;
            }
        }

        .amenities, .cancelation {
            margin-left: 50px;
        }
    }
    &__right {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        h3 {
            font-family: Archivo;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: -0.5px;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 70%;
            label {
                font-family: Archivo;
                font-size: 14px;
                font-weight: 700;
                line-height: 15.23px;
                margin-bottom: 13px;
                color: #222222;
            }

            input, textarea{
                margin-bottom: 19px;
                font-family: Archivo;
                font-size: 14px;
                font-weight: 400;
                line-height: 15.23px;
                color:  #777777;
                padding: 30px 25px;
                background-color: #F8F8F8;
            }

            button {
                margin-top: 25px;
                font-family: Archivo;
                font-size: 14px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 2.8;

            }
        }
    }
}